In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ppv_full.csv')
# drop first column - Unnamed:0
df = df.iloc[:,1:]
df.head(20)

,state,district,ppv_name,latitude,longitude
0,Perlis,Kangar,"Dewan Seri Melati, Perlis",6.515296,100.238619
1,Perlis,Kangar,"Dewan Seri Melati, Perlis",6.515296,100.238619
2,Perlis,Kangar,"Dewan Warisan, Perlis",6.440110,100.188087
3,Perlis,Kangar,"Dewan Warisan, Perlis",6.440110,100.188087
4,Perlis,Perlis,Dewan 2020,6.414891,100.194979
5,Perlis,Perlis,Hospital Tuanku Fauziah,6.440305,100.190469
6,Penang,Barat Daya,Hospital Balik Pulau,5.350229,100.233130
7,Penang,Barat Daya,Kompleks Sukan Balik Pulau,5.338716,100.213724
8,Penang,Bayan Lepas,Subterranean Penang International Convention &...,5.329975,100.279992
9,Penang,Bayan Lepas,TAPAK PESTA PULAU PINANG,5.343936,100.300360

In [3]:
df.shape

(530, 5)

## Data Cleaning

### Missing Values

In [4]:
# Check for missing values
df.isna().sum()

state        0
district     0
ppv_name     0
latitude     3
longitude    3
dtype: int64

In [5]:
# PPVs with missing coordinates
df[df.latitude.isna()]

       state    district                     ppv_name  latitude  longitude
304    Johor     Mersing               KK Tenggaroh 2       NaN        NaN
348    Sabah  Lahad Datu     Dewan Serbaguna Tambisan       NaN        NaN
411  Sarawak       Lawas  Dewan Masyarakat Kpg Sualai       NaN        NaN

### Duplicate Values

In [6]:
# Judging by the first few records, it seems like there are duplicate PPVs.. let's see how many unique PPVs
df.ppv_name.nunique()

498

In [10]:
# Remove duplicates
df = df.drop_duplicates(subset=['ppv_name'], ignore_index=True)
df.shape

(498, 5)

In [12]:
df.to_csv('ppv_cleaned.csv')